<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div>
		<footer th:fragment="footer_part">
			<div class="site-footer">
				<nav>
					<div>
						<a th:href="@{/A_propos_de_Nous}">A propos de nous -</a>
						<a th:href="@{/Contact}"> Contactez nous -</a>
						<a th:href="@{/dons}"> Dons -</a>
						<a href="https://www.cjoint.com/doc/19_04/IDimsv3cUgA_politique-de-confidentialit%C3%A9.pdf" target="_BLANK">Politique de confidentialite -</a>
						<a th:href="@{/ou_sommes_nous}">Ou somme-nous ?</a>
					</div>
				</nav>
				<p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
					<a th:href="@{/do_deconnection}">GlobaleTrockeur</a>.
				</p>
			</div>
		</footer>
	</div>
</html>