<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu_part" class="compte">
	<div class="container">
		<nav class="dr-menu">
			<img th:src="@{'/files/'+${session.connectedUser.id}+'/image/'+${session.connectedUser.photoProfil}}" alt="Photo de Profil" height="90px" style="border-radius: 20%">
			<p th:text="${'Bienvenue chez TROCNDON  '+session.connectedUser.membre.prenom+' !'}"> </p>
			<a th:href="@{afterlog}"> Accueil </a>

			<ul>
				<li><a class="dr-icon dr-icon-mestrocks" th:href="@{/doAfficherMesTrocs}">Mes Trocks</a></li>
				<li><a class="dr-icon dr-icon-trocker" th:href="@{/trocoudons}">Trocker</a></li>
				<li><a class="dr-icon dr-icon-qr" th:href="@{/poserUneQuestion}">Posez Une Question</a></li>
				<li><a class="dr-icon dr-icon-qr" th:href="@{/doAfficherListeDesQuestions}">Espace Forum</a></li>
				<li><a class="dr-icon dr-icon-contact" th:href="@{Contact}">Contactez-nous</a></li>
				<li><a class="dr-icon dr-icon-settings" th:href="@{/doAfficherUnMembre}">Modifier Parametres</a></li>
				<li><a class="dr-icon dr-icon-settings" th:href="@{/touslesmembres}">Liste des Membres</a></li>
				
				<li><a class="dr-icon dr-icon-switch" th:href="@{/do_deconnection}">Deconnexion</a></li>
			</ul>
		</nav>
	</div>
</div>
</html>