html{
min-width: 100%;
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dr-menu {
	width: 100%;
	max-width: 300px;
	min-width: 300px;
	position: relative;
	font-size: 1.3em;
	line-height: 3;
	font-weight: 200;
	color: #fff;
	padding-top: 2em;
}


.dr-menu > div .dr-icon {
	color: #2C3E50;
	left: 100%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}




.dr-menu ul {
	opacity: 1;
	z-index: 200;
	pointer-events: auto;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
}

.dr-menu ul li {
	display: block;
	margin: 0 0 5px 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dr-menu ul li {
	opacity: 1;
}



.dr-menu ul li a {
	display: inline-block;
	padding: 6px 20px;
	color: white;
}

.dr-menu ul li a:hover {
	color: #2C3E50;
}

 
.dr-icon:before{
	position: relative;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-menu ul .dr-icon:before {
	margin-right: 15px;
}


.dr-icon-compte:before {
	content: "\e009";
}
.dr-icon-mestrocks:before {
	content: "\e001";
}

.dr-icon-trocker:before {
	content: "\e002";
}

.dr-icon-qr:before {
	content: "\e000";
}


.dr-icon-contact:before {
	content: "\e004";
}


.dr-icon-settings:before {
	content: "\e005";
}

.dr-icon-switch:before {
	content: "\e006";
}


