
html{
	font-family: 'Lobster', cursive;
	background-color:#2C3E50;
  min-width: 100%;
}
.titre{
  text-decoration: underline;
	font-size: 80px;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding-bottom: 20px;

}

.acceuil{

	background-color: white;
	border-radius: 10px;
	text-align: center;
	height: auto;
	font-size: 20px;
	margin-bottom: 40px;
	margin-left: 12.5%;
	width: 75%;

}

.login{
	min-width: 48%;
	text-align: center;
	color: white;
	background-color: #2C3E50;
	width: 49%;
	float: left;
	display: inline-block;
	display: table-cell;
	border-radius: 10px;

}

.inscription {
	min-width: 48%;
	text-align: center;
	border-radius: 10px;
	width: 49%;
	float: right;
	display: inline-block;
	display: table-cell;
	color: white;

}



#acc{

	border-radius: 30px;
}
.inc{

	font-size: 25px;

}



form {
  border: 3px solid #f1f1f1;
  height: 50%;
  text-align: center;
  margin: 50px;
  background-color: #18BC9C;
  border-radius: 10px
}

/* Full-width inputs */
.inputStyle{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #2C3E50;
  box-sizing: border-box;
  text-align: left;
   border-radius: 10px;
}

input[type=date] {

width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #2C3E50;
  box-sizing: border-box;
  text-align: center;
 border-radius: 10px;


}


/* Set a style for all buttons */
button,input[type=file] {
  background-color: #2C3E50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #18BC9C;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 10%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 10px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


.compte{
  float: left;
  border-style: solid; 
  border-color: white;
  display: inline-block;
  display: table-cell;
  border-radius: 10px;
  width: 20%;
  height: auto;
  background-color: #18BC9C;
  margin-left: 1%; 
}

  .fil{
 
  border-radius: 10px;
  width: 77%;
  height: auto;
  border-style: solid; 
  border-color: white;
  float: right;
  display: inline-block;
  display: table-cell;
  background-color: #18BC9C;
  text-align: center;
  margin-right: 1%;
   margin-bottom : 3rem;
  }
  
   .faq{
  border-radius: 10px;
  width: 75%;
  float: left;
  height: 50%;
  overflow: scroll;
  border-style: solid; 
  border-color: white;
  display: inline-block;
  display: table-cell;
  background-color: #18BC9C;
  text-align: left;
  margin-left: 2%;
  margin-bottom : 3rem;
  }

  #delais {

    background-color: yellow;
    color: #2C3E50;
    width: 70%;
    margin-left: 15%;
    border:solid red;
    border-radius: 10px;
    text-align: center;
  }

  .troc{

    font-size: 50px;

    }

    .post{

      border:solid;
      width: 92%;
      background-color: #2C3E50;
      border-radius: 10px;
      margin-left: 2%;
      margin-bottom: 30px;

    }

    .post h4{

      border: solid;
      width: 50%;
      border-radius: 10px;
      margin-left: 25%;

    }

    .post img {
      border: solid;
      width: 75%;
      border-radius: 10px;
    }
    .trait{


      border-left: solid;
      border-right: solid;
      width: 75%;
      margin-left: 32%
    }

    .posit{
  float= left;
  text-align: center;
  }
  .finposit{
  clear=left;
  }
  .mini{
  	border: 3px solid #f1f1f1;
    height: auto;
    text-align: center;
    margin: 25px;
    background-color: #18BC9C;
    border-radius: 10px;
  }
    

  

.site-footer
{
 
 width: 98%;    
 border-radius: 10px;
 border: 3px solid #f1f1f1;
 background-color:#26272b;
 padding:10px  10px;
 font-size:15px;
 line-height:15px;
 color:#737373;
 margin-top: 90%;
 text-align: center;
}


.site-footer h6
{
 color:#fff;
 font-size:16px;
 text-transform:uppercase;
 letter-spacing:3px
}
.site-footer a
{
 color:#737373;
}
.site-footer a:hover
{
 color:#3366cc;
 text-decoration:none;
}
.footer-links
{
 padding-left:0;
 list-style:none
}
.footer-links li
{
 display:block
}
.footer-links a
{
 color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
 color:white;
 text-decoration:none;
}
.footer-links.inline li
{
 display:inline-block
}

}
@media (max-width:991px)
{
 .site-footer [class^=col-]
 {
   margin-bottom:30px
 }
}
@media (max-width:767px)
{
 .site-footer
 {
   padding-bottom:0
 }
 .site-footer .copyright-text,.site-footer .social-icons
 {
   text-align:center
 }
}
   .faq h1{

     color: #2C3E50;
     font-size: 30px;
   }