<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{css/trocndon.css}">
	</head>
	<body>
		<header class="titre">** - Globe Trockeur - **</header>
		<section class="acceuil">
			<div>
				<br> <img src="img/images.jpg" height="150px" id="acc">
				<p class="txt">
					<b style="color: red;" th:if="${ message != null }"><span th:text="${ message}"> </span><br/> </b>
					Gloabe Trockeur a pour but de faciliter la relation entre "<strong>Trockeur</strong>"
					pour qu'ils puissent donner ou échanger les objets dont ils ne se
					servent plus !<br>Ainsi cela permet d'éviter la pollution et de
					pouvoir recycler bon nombre d'objet.
				</p>
				<br>
			</div>
		</section>
		<div class="login">
			<p class="inc">
				<img src="img/smile.png"> Espace Trockeur <img
					src="img/smile.png">
			</p>
			
			<form th:action="@{/do_connexion}" method="post">
				<div class="imgcontainer">
					<img src="img/image.png" alt="Avatar" class="avatar">
				</div>
				<div class="container">
					<label for="uname">Email</label> <br> 
					<input class="inputStyle" type="text" placeholder="Entrez votre email" name="email" required/> <br>
					<label for="psw">Mot de passe</label> <br> 
					<input class="inputStyle" type="password" placeholder="Entrez Mot de passe" name="password" required/> <br>
					<button type="submit">Valider</button>
					<label> <br> <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi </label> <br>
					<span class="psw"><a href="#">Mot de passe oublié?</a></span>
				</div>
			</form>
		</div>
		
		<div class="inscription">
			<br>
			<p class="inc">Inscrivez Vous dés maintenant !</p>
			<form th:action="@{/do_inscription}"  method="post">
				<label for="nom">Nom</label> <br>
				<input class="inputStyle" type="text" placeholder="Nom" name="nom" id="nom" required/><br>
				<label for="prenom">Prénom</label> <br>
				<input class="inputStyle" type="text" placeholder="Prenom" name="prenom" id="prenom" required/><br>
				<label for="uname">E-Mail</label> <br>
				<input class="inputStyle" type="email" placeholder="Email" name="email" id="email" required/><br>
				<label for="password">Mot de passe</label> <br>
				<input class="inputStyle" type="password" id ="password" placeholder="Enter Password" name="password" required/>	<br> 
				<p>Date de Naissance :</p>
				<input  type="Date" id="birth" name="birth" /> 
				<span><p>Sexe :</p>
					<input type="radio" name="sexe" value="Homme" /><label for="Homme">Homme</label>
					<input type="radio" name="sexe" value="Femme"  />
					<label for="Femme">Femme</label>
				</span>	<br>
	
				<button type="submit">Valider</button>
			</form>
		</div>
	
		<div>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<h6>A propos de nous</h6>
							<p class="text-justify">Globe Trockeur a pour but de faciliter
								la relation entre "Trockeur" pour qu'ils puissent donner ou
								échanger les objets dont ils ne se sert plus ! Ainsi cela permet
								d'éviter la pollution et de pouvoir recycler bon nombre d'objet.</p>
						</div>
						<div class="col-xs-6 col-md-3">
							<h6>Quick Links</h6>
							<ul class="footer-links">
								<li><a th:href="@{A_propos_de_Nous}">A propos de nous</a></li>
								<li><a th:href="@{Contact}">Contactez nous</a></li>
								<li><a href="https://www.cjoint.com/doc/19_04/IDimsv3cUgA_politique-de-confidentialit%C3%A9.pdf" target="_BLANK">Politique de confidentialite</a></li>
								<li><a href="http://scanfcode.com/sitemap/">Ou somme nous</a></li>
								<li><a href="http://scanfcode.com/contribute-at-scanfcode/">Dons</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-6 col-xs-12">
					<hr>
					<p class="copyright-text"> Copyright &copy; 2019 All Rights Reserved by <a href="#">GlobaleTrockeur</a>.</p>
				</div>
			</footer>
		</div>
	</body>
</html>