<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description"
	content="Reproduction du menu dépliant qui se trouve en haut à  gauche de toutes les pages youtube (lorsque vous etes connecte(e))" />
<meta name="Robots" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{css/default.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/component.css}" />
<link href="https://fonts.googleapis.com/css?family=Lobster"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{css/trocndon.css}">
<script src="js/modernizr.custom.js"></script>
<script type="text/javascript"></script>


<title>Ou sommes nous?</title>
</head>
<body>
	<header th:replace="~{temp/header :: header_part}"> </header>
	<section>
		<div th:replace="~{temp/menu :: menu_part}"></div>

		<div class="fil">
			<p>
			<h1>Ou sommes nous?</h1>

			<div class="fil2">
				<p>Nous sommes situe à l'AFPA DE ROUBAIX au 20 rue du Luxembourg
					à Roubaix</p>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2527.4490399488436!2d3.15639941562526!3d50.69305117950957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c328e3c2e86cff%3A0x47c63843ab4278ea!2s20+Rue+du+Luxembourg%2C+59100+Roubaix!5e0!3m2!1sfr!2sfr!4v1555596224789!5m2!1sfr!2sfr"
					width="600" height="450" style="border: 0" allowfullscreen>
				</iframe>

			</div>
		</div>
	</section>

	<footer th:replace="~{temp/footer::footer_part}"> </footer>

</body>
</html>

