<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description"
	content="Reproduction du menu dépliant qui se trouve en haut à  gauche de toutes les pages youtube (lorsque vous etes connecte(e))" />
<meta name="Robots" content="all" />
<link rel="stylesheet" type="text/css" th:href="@{css/default.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/component.css}" />
<link href="https://fonts.googleapis.com/css?family=Lobster"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{css/trocndon.css}">
<script src="js/modernizr.custom.js"></script>

<title>Trock</title>
</head>
<body>
	<header th:replace="~{temp/header :: header_part}"> </header>
	<section>
		<div th:replace="~{temp/menu :: menu_part}"></div>
		<div class="fil">
			<p class="troc">" TROCKEZ "</p>
			
			<form th:action="@{/doTrocoudon}" method="post">
				<p>
					Designation : <br />
				</p>
				<input class="inputStyle" type="text" name="titre"
					placeholder="Titre" />
				<p>
					Type : <br /> <SELECT class="inputStyle" name="type" size="1">
						<OPTION>Trock
						<OPTION>Don
					</SELECT>
				</p>
				<p>
					Description Objet : <br />
				</p>
				<textarea class="inputStyle" name="description"
					placeholder="description" cols="100" rows="10"></textarea>
				<br /> <br>
				<button type="submit">Valider</button>
			</form>
			
			<!-- image de l'objet à trocker -->
			<form enctype="multipart/form-data" th:action="@{/doAjouterPhotoTroc}" method="post" id="parameterForm2" class="mini">
				<p class="posit">
					<img th:src="@{'/files/'+'/imageTroc/'}" alt="Image du Troc" height="100px" style="border-radius: 20%" />
					<br /> 
					<input class="inputStyle" name="file" type="file" onchange="document.forms['parameterForm2'].submit()" accept=".jpg,.pjpeg,.pje,.jfif,.png" /><br />
				</p>
			</form>

			<br>
		</div>
		<div class="fil">
			<p>LISTE DES TROCKS:</p>
		</div>
		<div class="faq" th:if="${not #lists.isEmpty(trocs) }">
			<div th:each="troc : ${trocs}">
				<h1>
					Trock de <i	th:text="${troc.donneur.nom + ' ' + troc.donneur.prenom +' ' }"></i>
					le <i th:text="${' '+troc.dateAction+' '}"></i>:
				</h1>
				<p th:utext="${troc.type}"></p>
				<p th:utext="${troc.description}"></p>
				<br />
				<!-- Contacter le Trockeur par mail-->
				<a th:href="@{/afficherContacterTrockeur(idTroc=${troc.id})}">
					Contacter le Trockeur </a>
			</div>
		</div>
	</section>
	<br />
	<div>
		<footer th:replace="~{temp/footer::footer_part}"> </footer>
	</div>
</body>
</html>

